{% extends "layout.html" %}

{% block title %}
    Z-IMGRepo - {{session['user']}} - Discover
{% endblock %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-12" style="text-align:center; padding-top: 35px; padding-bottom: 15px;">
            <h1>Discover</h1>
    </div>
</div>
<div class="row">
    {% for fimg in feed %}
    <div class="col-12 col-lg-4 col-md-6" style="text-align:center;">
        <div class='bg-text'>
            <img class='display-img' src="{{fimg[0].imgurl}}"/>
            <h5 style="font-weight: normal;">{{fimg[0].caption}}</h5>
            <a href="{{ url_for('user_profile', user_name=fimg[0].username) }}" class="lbl">@{{fimg[0].username}}</a>
            <p class="lbl"> Date: {{fimg[0].date}}</p>
            <a class="btn btn-success" href="{{fimg[0].imgurl}}">Download</a>
            <div class="tag_list">
                <p style="color: bisque;">Tags 🏷:</p>
                {% for tag in fimg[1] %}
                <a href="{{ url_for('search', query=tag) }}" style="color: bisque; font-weight: lighter;"><u>{{tag}}</u></a>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>





{% endblock %}